@font__primary--name: "primary";
@font__primary__path--regular: "../assets/fonts/Roboto/Roboto-Regular.ttf";
@font__primary__path--bold: "../assets/fonts/Roboto/Roboto-Bold.ttf";
@font__primary__path--medium: "../assets/fonts/Roboto/Roboto-Medium.ttf";
@font__secondary--name: "secondary";
@font__secondary__path--regular: "../assets/fonts/Vujahday_Script/VujahdayScript-Regular.ttf";
@font__secondary__path--bold: "../assets/fonts/Vujahday_Script/VujahdayScript-Regular.ttf";
@font-face {
  font-family: @font__primary--name;
  src: url(@font__primary__path--regular);
  src: url(@font__primary__path--regular) format("truetype");
  font-weight: normal;
}

@font-face {
  font-family: @font__primary--name;
  src: url(@font__primary__path--bold);
  src: url(@font__primary__path--bold) format("truetype");
  font-weight: bold;
}

@font-face {
  font-family: @font__primary--name;
  src: url(@font__primary__path--medium);
  src: url(@font__primary__path--medium) format("truetype");
  font-weight: 500;
}

@font-face {
  font-family: @font__secondary--name;
  src: url(@font__secondary__path--regular);
  src: url(@font__secondary__path--regular) format("truetype");
  font-weight: normal;
}

@font-face {
  font-family: @font__secondary--name;
  src: url(@font__secondary__path--bold);
  src: url(@font__secondary__path--bold) format("truetype");
  font-weight: bold;
}

