.section {
  height: 100%;
  width: 100%;
  min-width: 250px;

  &__content {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    position: relative;
    z-index: 3;
    padding: 0 0 0 5%;
    color: @white;
    @media (max-width: @screen__small) {
      width: 100%;
    }

    h1 {
      @font-size: 4.5vw;
      margin-bottom: 0.2rem;
      font-size: @font-size;
      white-space: nowrap;

      span {
        &.text-animation {
          font-size: 5vw;
          font-family: @secondary__font--name;
        }

        white-space: nowrap;
      }

      @media (max-width: @screen__small) {
        font-size: 2.5rem;
        span.text-animation {
          font-size: 3.5rem;
        }
      }
    }

    h2 {
      font-size: 1.5vw;
      margin-bottom: 1rem;
      @media (max-width: @screen__small) {
        font-size: 1rem;
      }
    }

    p {
      margin-top: 1vw;
      max-width: 300px;
      line-height: 1.3rem;
    }

    button {
      max-width: 150px;
      margin-top: 3rem;
      @media (max-width: @screen__small--xs) {
        width: 100%;
        max-width: 100%;
      }
    }

    @media (max-width: @screen__small--xs) {
      padding-left: 8%;
      padding-right: 8%;
    }
  }
}
