@black: black;
@white: white;
@primary--color: #1417D4;
@border--color: rgb(128 128 128 / 47%);
@transition--duration: 1s;
.section() {
  padding: 0 0 0 5%;
}

// MEDIA
@screen__small: 778px;
@screen__small--xs: 450px;
