<div class="main backdrop" oxumWallpaper>
    <div class="container">
        <section class="section p-d-flex p-align-center container">
            <article class="p-col-8">
                <div class="p-px-5">
                    <h1>Développeur Web Front-end</h1>
                    <h2 class="p-mt-4 p-mb-2">Applications Web et Mobiles</h2>
                    <h3 class="text-gray">avec des solutions evolutives et modernes</h3>
                </div>
                <div class="p-px-5 p-mt-5">
                    <app-icons-grids class="p-d-flex"></app-icons-grids>
                </div>
                <div class="p-px-5 p-mt-5">
                    <button class="button button--primary button--large">Contact</button>
                </div>
            </article>
            <article class=" circles__container p-col-4">
                <oxum-circles></oxum-circles>
            </article>
        </section>
        <section class="section"></section>
    </div>
</div>
